header {
    padding-top: 128px;
    padding-left: 32px;
}

.tab-root {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

label {
    padding: 4px 16px;
    order: -1;
}

.content {
    position: relative;
    width: 100%;
    display: none;
}

input[type="radio"]:checked+label {
    border-bottom: 2px solid #1976d2;
}

input[type="radio"]:checked+label+.content {
    display: block;
}

input[type="radio"] {
    display: none;
}

.execute {
    border: 2px #1976d2;
    border-radius: 4px;
    padding: 8px 32px;
    width: 100%;
    background: #1976d2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.copy {
    position: absolute;
    right: 8px;
    top: 20px;
}

form {
    margin: 16px;
}
